<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="document-text-outline"></ion-icon>
      Novo conteúdo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title><h1>Insira as informações</h1></ion-title>
  <form (ngSubmit)="addConteudo()">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [(ngModel)]="conteudo.titulo" type="text" name="titulo" placeholder="Título do artigo/matéria"></ion-input>
    </ion-item>
    
    <ion-list>
      <ion-radio-group [(ngModel)]="conteudo.tipo" name="tipo" value="biff">
        <ion-list-header>
          <ion-label>Tipo de conteúdo</ion-label>
        </ion-list-header>
        
        <ion-item>
          <ion-label>Artigo</ion-label>
          <ion-radio slot="start" value="artigo"></ion-radio>
        </ion-item>
        
        <ion-item>
          <ion-label>Notícia</ion-label>
          <ion-radio slot="start" value="noticia"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label>Tema</ion-label>
      <ion-select [(ngModel)]="conteudo.tema" name="tema" cancelText="Cancelar" okText="Selecionar">
        <ion-select-option value="js">JavaScript</ion-select-option>
        <ion-select-option value="php">PHP</ion-select-option>
        <ion-select-option value="ia">Inteligencia Artificial</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Conteúdo</ion-label>
      <ion-textarea [(ngModel)]="conteudo.texto" name="texto" placeholder="Insira o texto aqui"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input [(ngModel)]="conteudo.autor" type="text" name="autor" placeholder="Nome do autor"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="full" type="submit">Publicar</ion-button>
  </form>
</ion-content>
